{% extends 'base.html' %}
{% load staticfiles %}
{% block head_extends %}
<link rel="stylesheet" href="{% static 'js/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/index_cn.css' %}" media="screen,print"/>
{% endblock %}

{% block content%}
<!--banner 开始-->
<div class="tbanner">
        <div class="swiper-container banner" style="height:533px">
            <div class="swiper-wrapper">
            {%for each_image in banners %}
                <div class="swiper-slide" style="text-align:center">
                    <a href="{{each_image.url}}" target="{{each_image.open}}"><img src="/media/{{each_image.image}}"></a>
                </div>
            {%endfor%}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination banner-pagination"></div>
        </div>
</div>
<!--banner 结束-->
<!--solution 开始-->
    <div class="solution">
        <div class="wrapper">
            <div class="mtitle"><h2><span>净化是根本，永洁是目标</span><b></b></h2></div>
            <ul class="cf">

                {% for each_solution in solutions %}
                    {% if forloop.counter|divisibleby:2 %}
                    <li class="end">
                        <a href="{% url 'home:solution_detail' each_solution.id%}" >
                            <div class="pic">
                                <img src="/media/{{each_solution.cover}}" alt="{{each_solution.title}}"/></div>
                                <div class="desc">
                                    {% if each_solution.title == "化工类 净化工程" %}
                                        <i class="bicon-s2"></i>
                                    {% elif each_solution.title == "化妆品车间 净化工程" %}
                                        <i class="bicon-s1"></i>
                                    {% elif each_solution.title == "实验室系统" %}
                                        <i class="bicon-s3"></i>
                                    {% elif each_solution.title == "食品日化 净化工程" %}
                                        <i class="bicon-s4"></i>
                                    {% elif each_solution.title == "医院手术室 装修工程" %}
                                        <i class="bicon-s5"></i>
                                     {% elif each_solution.title == "医药、医疗GMP车间" %}
                                        <i class="bicon-s6"></i>
                                     {% elif each_solution.title == "电子车间 净化工程" %}
                                        <i class="bicon-s7"></i>
                                    {% endif %}
                                    <h3>{{each_solution.title}}</h3>
                                </div>
                        </a>
                    </li>
                    {% else %}
                        <li class="">
                        <a href="{% url 'home:solution_detail' each_solution.id%}" >
                            <div class="pic"><img src="/media/{{each_solution.cover}}" alt="{{each_solution.title}}"/></div>
                                <div class="desc">
                                    {% if each_solution.title == "化工类 净化工程" %}
                                        <i class="bicon-s2"></i>
                                    {% elif each_solution.title == "化妆品车间 净化工程" %}
                                        <i class="bicon-s1"></i>
                                    {% elif each_solution.title == "实验室系统" %}
                                        <i class="bicon-s3"></i>
                                    {% elif each_solution.title == "食品日化 净化工程" %}
                                        <i class="bicon-s4"></i>
                                    {% elif each_solution.title == "医院手术室 装修工程" %}
                                        <i class="bicon-s5"></i>
                                     {% elif each_solution.title == "医药、医疗GMP车间" %}
                                        <i class="bicon-s6"></i>
                                     {% elif each_solution.title == "电子车间 净化工程" %}
                                        <i class="bicon-s7"></i>
                                    {% endif %}
                                    <h3>{{each_solution.title}}</h3>
                                </div>
                        </a>
                    </li>
                    {% endif %}
                {%empty%}
                没有更多解决方案...
                {% endfor%}
            </ul>
        </div>
    </div>
<!--solution 结束-->
<!--case_list 开始-->
    <div class="case_list">
        <div class="wrapper">
            <div class="mtitle"><h2><span>净化工程案例</span><b></b></h2></div>
            <div class="bd">
                <ul class="list cf">
                    {%for each_case in cases%}
                        {% if forloop.counter|divisibleby:4 %}
                            <li class="end">
                                <a href="{% url 'home:case_detail' each_case.id%}" title="{{each_case.title}}" class="pic" target="_blank">
                                    <img src="/media/{{each_case.cover}}" alt="{{each_case.title}}" title="{{each_case.title}}"/></a>
                                <a href="{% url 'home:case_detail' each_case.id%}" class="tt" target="_blank">{{each_case.title}}</a>
                            </li>
                        {%else%}
                            <li class="">
                                <a href="{% url 'home:case_detail' each_case.id%}" title="{{each_case.title}}" class="pic" target="_blank">
                                    <img src="/media/{{each_case.cover}}" alt="{{each_case.title}}" title="{{each_case.title}}"/></a>
                                <a href="{% url 'home:case_detail' each_case.id%}" class="tt" target="_blank">{{each_case.title}}</a>
                            </li>
                        {%endif%}
                    {%empty%}
                    暂时没有案例...
                    {%endfor%}
                </ul>
            </div>
            <div class="fd"><a href="{% url 'home:cases' 0%}" class="btn btn-bblue more">查看更多案例</a></div>
        </div>
    </div>
<!--case_list 结束-->
<!--choose-us 开始-->
    <div class="choose-us">
        <div class="wrapper">
            <div class="mtitle">
                <h2><span>选择永洁，选择安心</span><b></b></h2>
                <p><a href="{% url 'home:service'%}" target="_blank"><i class="icon-arrow"></i> 点击了解服务流程</a></p>
            </div>
            <div class="bd">
                <ul class="cf">
	<li class="c1">
		<em>11年</em>
		<h3>
			11年技术积累
		</h3>
		<p>
			拥有净化工程二级资质<br />
洁净行业协会副会长单位<br />
科学完整的质量管理体系
		</p>
	</li>
	<li class="c2">
		<em>400+</em>
		<h3>
			400+工程案例
		</h3>
		<p>
			在生物制药、医疗器械、食品日化、电子制造、光电光学等领域设计施工了众多经典工程
		</p>
	</li>
	<li class="c3">
		<em>3项标准</em>
		<h3>
			3项技术标准
		</h3>
		<p>
			符合ISO14644-1标准、GB50073—2001国家标准及国家医药GMP规范要求
		</p>
	</li>
	<li class="c4">
		<em>免费设计<br />
+<br />
量身定制</em>
		<h3>
			免费量身定制设计方案
		</h3>
		<p>
			因地制宜，免费为您量身定制高品质净化工程解决方案，提供规划、设计、施工、售后一站式服务
		</p>
	</li>
	<li class="c5">
		<em>7*24</em>
		<h3>
			7*24小时免费售后
		</h3>
		<p>
			完善的售后服务体系，定期保养、检修，让您无后顾之忧，所有工程质保一年，并有专人定期回访
		</p>
	</li>
</ul>            </div>
            <div class="fd"><a href="javascript:;" class="btn btn-bblue more quote">快速<em>获取报价</em></a></div>
        </div>
    </div>
<!--choose-us 结束-->
<!-- about开始-->
    <div class="abouts">
        <div class="wrapper cf">
            <div class="about">
                <h2 class="hd">关于永洁</h2>
                <div class="bd"><span style="font-size:16px;"><strong>广州市顺尚净化工程有限公司</strong></span> <br />
<br />

广州顺尚净化工程有限公司是一家专业空气净化系统、实验室系统工程企业，致力于从事净化工程、实验室系统工程设计、施工以及中央空调恒温恒湿工程、送回风系统、排风系统、彩钢板天花立墙，空压管道、给排水管道、照明配电安装工程，净化设备销售、实验台、通风柜销售安装等。<br />

涉及实验室、医药、医院、电子、生物工程、医疗器械、食品、化妆品等高新技术产业无尘车间、洁净厂房、实验室。<br />

我司不仅拥有空气净化领域中最规范完善的工程施工手段，还有令人满意的后期客户服务，以及全面的技术支援。<br />
公司自成立以来，一贯秉承“精顺品质，服务至尚”原则，已先后顺利完成数百国内不同领域各种等级、规格的净化厂房工程项目，每项工程都以安全、优质、快速、高效受到客户和国内.外专家的一致好评，树立了良好的企业形象。

</div>
                <div class="fd">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=3152958820&site=qq&menu=yes" target="_blank" class="btn btn-blue btn-w136">在线咨询</a>
                    <a href="/about/list-67.html" target="_blank" class="btn btn-blue btn-w200">电话：0755-89725806</a>
                </div>
            </div>
            <div class="certification">
                <h2 class="hd">公司荣誉</h2>
                <div class="bd">
                    <ul>
                        {%for each_honer in honer %}
                        {% if forloop.counter|divisibleby:4 %}
                            <li class="end">
                                <a href="{% url 'home:honer'%}" class="pic" target="_blank" title="{{each_honer.title}}">
                                    <img src="/media/{{each_honer.images}}" alt="{{each_honer.title}}" /></a>
                                <h3><a href="{% url 'home:honer'%}" target="_blank" title="{{each_honer.title}}">{{each_honer.title}}</a></h3>
                            </li>
                        {%else%}
                            <li class="">
                                <a href="{% url 'home:honer'%}" class="pic" target="_blank" title="{{each_honer.title}}">
                                    <img src="/media/{{each_honer.images}}" alt="{{each_honer.title}}" /></a>
                                <h3><a href="{% url 'home:honer'%}" target="_blank" title="{{each_honer.title}}">{{each_honer.title}}</a></h3>
                            </li>
                        {%endif%}
                        {%empty%}
                        暂时没有荣誉...
                        {%endfor%}
                    </ul>
                </div>
                <div class="fd"><a href="{% url 'home:honer'%}" class="btn btn-bblue more">查看更多</a></div>
            </div>
        </div>
    </div>
<!-- about结束-->
<!-- 动态开始-->
    <div class="news-panel cf wrapper">
        {%for news_type,news_objs in news.items %}
            <div class="news box">
                <div class="hd">{{news_type.title}}</div>
                    <div class="bd cf">
                        <ul class="cf">
                            {% for each_news in news_objs %}
                                <li><em>&gt;</em><a href="{% url 'home:news_detail' each_news.id%}">{{each_news.title|truncatechars:50 }}</a></li>
                            {%empty%}

                            {%endfor%}
                        </ul>
                    </div>
            </div>
        {%empty%}
        {%endfor%}
        <div class="fd">
            <a href="{%url 'home:news' 0%}" class="btn btn-bblue more">查看更多</a>
        </div>
    </div>
<!-- 动态结束-->
{% endblock %}


