{% extends 'base.html' %}
{% load staticfiles %}
{% block head_extends %}
<link rel="stylesheet" href="{% static 'css/article_cn.css' %}" media="screen,print"/>
{% endblock %}
{% block content%}

<div class="tbanner">
    <div class="banner" style=""></div>
    <img src="{% static 'images/banner.jpg' %}" alt="" width="100%">
</div>
<div class="mapnav">
    <div class="wrapper">
        <a href="../yongjiejh.html">首页</a> <em>&gt;</em> <a href="news.html"  class="ns">{{type}}</a>    </div>
</div>
<div id="main_content">
    <div id="main">
    <div id="main_c">
        <div class="newslist">
            {% for each_news in page_of_obj %}
            <div class="item">
                <div class="pic"><a href="{% url 'home:news_detail' each_news.id%}" title="{{ each_news.title }}">
                    <img src="/media/{{ each_news.cover }}" alt="{{ each_news.title }}" /></a></div>
                <div class="desc">
                    <h3 class="title"><a href="{% url 'home:news_detail' each_news.id%}" title="{{ each_news.title }}">{{ each_news.title|truncatechars:100  }}</a></h3>
                    <div class="info">
                        {{ each_news.content|striptags|truncatechars:120 }}
                    </div>
                    <p class="datetime">{{each_news.update_time|date:'Y-m-d'}}</p>
                </div>
            </div>
            {% empty %}
            持续更新中...
            {% endfor%}

            <div class="fc"></div>
                <ul id='pagination' class='pagination'  >
                    {% ifnotequal  count 0 %}
                        {% ifnotequal  count 1 %}
                            {# 上一页 #}

                            {% if page_of_obj.has_previous %}
                                <li><a href="?page={{ page_of_obj.previous_page_number }}" title="上一页">上一页</a></li>
                            {% endif %}

                            {# 全部页码 #}
                            {% for page_num in page_range %}
                                {% if page_num == page_of_obj.number %}
                                    <li><a href="?page={{ page_num }}" class="current">{{ page_num }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}" title="第{{page_num}}页">{{ page_num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {# 下一页 #}

                            {% if page_of_obj.has_next %}
                                <li><a href="?page={{ page_of_obj.next_page_number }}"  title="下一页">下一页</a></li>
                            {% else %}
                                &raquo;
                            {% endif %}
                        {% endifnotequal  %}
                    {% endifnotequal  %}

                </ul>
        </div>
    </div>
</div>
    <div id="side">
        <div class="sbox">
            <ul class="c_list">
              <li><a href="{% url 'home:news' 0%}" class="{% if type == '全部新闻' %}ns{% endif %}" title="全部新闻">全部新闻</a></li>
              <li><a href="{% url 'home:news' 1%}" class="{% if type == '顺尚动态' %}ns{% endif %}" title="顺尚动态">顺尚动态</a></li>
              <li><a href="{% url 'home:news' 2%}" class="{% if type == '行业资讯' %}ns{% endif %}" title="行业资讯">行业资讯</a></li>
              <li><a href="{% url 'home:news' 3%}" class="{% if type == '净化技术' %}ns{% endif %}" title="净化技术">净化技术</a></li>
            </ul>
        </div>
    </div>
  <div class="fc"></div>
</div>

{% endblock %}