/*新闻开始================================*/
.newslist{}
.newslist .item{position:relative;padding:0px 0 25px;border-bottom:1px dotted #ddd;margin-bottom:25px;}
.newslist .item:after{content:"020";display:block;height:0;clear:both;visibility:hidden;}
.newslist .item .pic{width:296px;height:196px;float:left;background:#fff;border:1px solid #dfdfdf;overflow:hidden;padding:2px;}
.newslist .item .pic a{display:block;width:100%;height:100%;}
.newslist .item .pic img{width:100%;height:100%;vertical-align:middle;}
.newslist .item .desc{height:108px;text-align:left;margin-left:330px;position:relative;color:#777;line-height:24px;font-size:16px;}
.newslist .item .desc .datetime{font-family:arial;}
.newslist .item .desc .title{display:block;width:100%;line-height:30px;color:#555;font-size:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:0;}
.newslist .item .desc .info{margin:18px 0 24px;height:96px;overflow:hidden;}

.newslist .item:hover .pic{border-color:#00a0ea}
.newslist .item:hover h3 a{color:#016aaf}
/* 新闻详细页 */
.news_detail{}
.news_detail .tt{ font-size:18px;color:#222;font-weight:normal;line-height:34px;}
.news_detail .datetime{font-family:arial;font-size:16px;line-height:30px;}
.news_detail .wshare{float:left;margin:2px 30px 0 0;}
.news_detail .info{line-height:20px;color:#939393;margin:10px 0 20px;border-top:1px dotted #ddd;padding:10px 0}
.news_detail .nr{ word-wrap: break-word; word-break: normal; padding:0 0px 10px; }
.news_detail .nr a{color:#18b6ea}
.news_detail .pic{ text-align:center; border-bottom:1px dotted #ccc; padding:10px 0; margin-bottom:15px;}
.news_detail .pic img{ border:2px solid #B47738}
.news_detail img{max-width:100%}

.tech_list{padding:15px 0}
.tech_list .item{padding:20px 0;border-bottom:1px dotted #ddd;}
.tech_list .item h2{overflow:hidden;height:20px;line-height:20px;font-size:18px;}
.tech_list .con{line-height:24px;color:#777;font-size:16px;margin:10px 0 0px;}
.tech_list .down{}
.tech_list .down a{display:block;width:136px;padding:0}

.recommended{}
.recommended h2{line-height:32px;font-size:16px;font-weight:normal;border-bottom:1px solid #ddd;margin-bottom:5px;}
.recommended ul{}
.recommended li{height:32px;line-height:32px;border-bottom:1px dotted #ddd;}
.recommended li:last-child{border-bottom:0}
.recommended li a{display:block;}
.recommended li i{float:left;margin:13px 12px 0 0;background-position:0 -51px;width:4px;height:6px;}
.recommended li em{float:right;}

@media  (max-width: 479px) {
    #main_t{display:none}

    .news_list{padding:0 10px;}
    .news_list article{font-size:12px;position:relative;height:36px;line-height:36px;}
    .news_list article .time{position:absolute;left:0;top:0;}
    .news_list article .tt{display:block;float:none;padding:0 20px 0 80px;white-space:nowrap;height:36px;line-height:36px;overflow:hidden;text-overflow:ellipsis}
    .news_list article .more{display:none}

    .news_detail{padding:10px;font-size:12px;}
    .news_detail .tt{margin-bottom:10px;}
    .news_detail .info{line-height:20px;}

    .recommended{padding:10px;}
    .recommended h2{line-height:30px;font-size:14px;font-weight:normal;}
    .recommended ul{}
    .recommended li{position:relative;padding:0 80px 0 10px;font-size:12px;}
    .recommended li:last-child{border-bottom:0}
    .recommended li a{display:block;white-space:nowrap;text-overflow: ellipsis;overflow: hidden}
    .recommended li i{position:absolute;left:0;top:11px;margin:0}
    .recommended li em{position:absolute;right:0;top:0;}
}