@charset "utf-8";
/*
#main .pic img,.case_list .pic img{transition:All 0.4s ease-in-out;-webkit-transition:All 0.4s ease-in-out;-moz-transition:All 0.4s ease-in-out;-o-transition:All 0.4s ease-in-out;}
#main .pic img:hover,.case_list .li .pic img:hover{transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);}
*/
/*客户案例*/
.case_list{padding-top:0px;}
.case_list .li{float:left;width:280px;margin:0 26px 25px 0;}
.case_list .li .pic{display:block;height:194px;border:1px solid #cecece;padding:2px;overflow:hidden}
.case_list .li .pic img{width:100%;height:100%}
.case_list .li .tt{display:block;font-weight:normal;font-size:16px;line-height:33px;height:33px;overflow:hidden;text-align:center;}
.case_list .end{margin-right:0;}
.case_list .li:hover .pic{border-color:#016aaf;background:#016aaf}
.case_list .li:hover .tit{color:#016aaf}

.case_details{position:relative;margin:30px auto 60px}
.case_details:after{content:'';position:absolute;left:308px;top:0;height:100%;border-right:1px dotted #c0c0c0;}

.case_xg{float:left;width:280px;}
.case_xg h2{font-size:20px;line-height:22px;margin-bottom:22px;}
.case_xg li{width:280px;margin:0 0px 28px 0;}
.case_xg li .pic{display:block;height:194px;border:1px solid #cecece;padding:2px;overflow:hidden}
.case_xg li .pic img{height:100%}
.case_xg li .tt{display:block;font-weight:normal;font-size:16px;line-height:33px;height:33px;overflow:hidden;text-align:center;}
.case_xg .end{margin-right:0;}
.case_xg li:hover .pic{border-color:#016aaf;background:#016aaf}
.case_xg li:hover .tit{color:#016aaf}

.case_detail{position:relative;float:right;width:864px;}

.case_detail .title{text-align:center;font-size:20px;line-height:22px;padding-bottom:20px;border-bottom:1px solid #eee;}
.case_detail .pic{text-align:center;padding:45px 0 20px;position:relative}
.case_detail .pic img{}
.picw{height:445px;overflow:hidden;width:598px;border:1px solid #cdcdcd;padding:5px;margin:0 auto;}
.case_detail .bfocus{position:relative;height:445px;overflow:hidden;width:598px;margin:0 auto;}
.case_detail .prev,.case_detail .next{position:absolute;display:block;top:50%;width:74px;height:145px;margin-top:-72px;}
.case_detail .prev i,.case_detail .next i{display:block;background:url(../images/arrow.png) no-repeat;width:74px;height:145px;}
.case_detail .prev{left:0px;}
.case_detail .next{right:0px;}
.case_detail .next i{background-position:-74px 0}
.case_detail .num_nav{margin-top:10px;}
.case_detail .num_nav span{display:inline-block;background:#f0f0f0;text-indent:-999em;border-radius:100%;height:10px;width:10px;margin-right:8px;}
.case_detail .num_nav .selected{background-color:#529dd1}

.case_detail .tit{background:#eee;text-align:center;font-size:20px;line-height:40px;color:#777;margin-bottom:20px;}
.case_detail .tit span{display:inline-block;cursor:pointer;}
.case_detail .tit .active{color:#00469c}
.case_detail .tit em{display:inline-block;margin:0 25px;}
.case_detail .desc{padding:0px 0 50px}

/*应用*/
.apphd{border-bottom:0}
.apphd .mtitle{height:40px;line-height:40px;margin-bottom:20px}
.apphd .mtitle h2{font-size:18px;}
.app_list .li{margin:0px;padding:40px 0;transition:all 0.15s ease-in-out 0s;height:244px;overflow:hidden;border-bottom:1px solid #eee}
.app_list .li:last-child{border-bottom:0;}
.app_list .li .pic{float:left;width:310px;height:222px;border:1px solid #ccc;padding:10px;}
.app_list .li .pic img{width:100%;height:100%;}
.app_list .li .desc{float:right;width:820px;}
.app_list .li .desc h2{line-height:26px;height:26px;margin-bottom:10px;}
.app_list .li .desc h2 .tt{float:left;font-size:24px;}
.app_list .li .desc .more{color:#016aaf;font-size:14px;}
.app_list .li .desc .more i{float:left;background-position:0 -58px;height:18px;width:18px;margin:4px 4px 0 0}
.app_list .li .desc .con{font-size:16px;line-height:24px;color:#999;height:72px;overflow:hidden;margin-bottom:14px;}
.app_list .li .desc h3{font-size:18px;line-height:22px;color:#666;margin:10px 0 8px;}
.app_list .li .desc li{float:left;width:400px;height:30px;line-height:30px;margin:0 10px 0px 0;}
.app_list .li .desc li a{color:#016aaf;}
.app_list .li:hover .pic{border-color:#016aaf;background:#016aaf}
.app_list .li:hover .tt{color:#016aaf}
.app_list .li .desc li a:hover{color:#57a024;}

.app_detail{padding:0 0 60px;}
.app_detail .pic{float:left;width:310px;border:1px solid #ccc;padding:10px;}
.app_detail .pic img{width:100%;}
.app_detail .detail{float:right;width:820px;font-size:16px;line-height:24px;color:#777}
.app_detail .detail .title{font-size:24px;color:#555;line-height:30px;margin-bottom:10px;}
.app_detail .detail .showmore{color:#016aaf}
.app_detail .detail .showmore i{font-weight:700;color:#b52323;font-style:normal}
.app_detail .detail .desc{display:none}

.app_detail .detail .chathd{font-size:18px;line-height:42px;color:#777;border-bottom:1px solid #f0f0f0;margin-top:30px;}
.app_detail .detail .chat{margin-top:20px;}
.app_detail .detail .chat a{float:left;margin-right:28px;padding:0 24px;}

.appbox{border-top:1px solid #eee;padding-bottom:25px;}
.appbox h2{font-size:30px;line-height:110px;text-align:center;}

.app_case .catelist{margin-top:0;}
.app_case .list{margin-left:-26px;}
.app_case li{float:left;width:280px;margin:0 0 25px 26px;}
.app_case li .pic{display:block;height:194px;border:1px solid #cecece;padding:2px;overflow:hidden}
.app_case li .pic img{width:100%;height:100%}
.app_case li .tt{display:block;font-weight:normal;font-size:16px;line-height:33px;height:33px;overflow:hidden;text-align:center;}
.app_case .end{margin-right:0;}
.app_case li:hover .pic{border-color:#016aaf;background:#016aaf}
.app_case li:hover .tit{color:#016aaf}

.app_prod{padding-bottom:6px}
.app_prod li{float:left;width:200px;margin:0 21px 26px 0}
.app_prod li .pic{display:block;border:1px solid #cecece;width:194px;height:194px;overflow:hidden;padding:2px;}
.app_prod li .pic img{width:100%;height:100%}
.app_prod .end{margin-right:0}
.app_prod h3{line-height:38px;height:38px;overflow:hidden;font-size:16px;text-align:center;}
.app_prod h3 a{color:#555}
.app_prod li:hover .pic{border-color:#016aaf;background:#016aaf}
.app_prod li:hover .tt a{color:#016aaf}


.otherapp{padding-bottom:34px;}

.otherapp li{float:left;width:570px;padding:10px;margin:0 20px 20px 0;background:#0071bf;}
.otherapp .pic{float:left;width:310px;height:222px;display:block;overflow:hidden;margin-right:10px;}
.otherapp .pic img{width:100%;height:100%;}
.otherapp .end{margin-right:0;}
.otherapp .desc{float:left;width:250px;text-align:center;color:#fff;}
.otherapp .desc i{display:block;width:102px;height:115px;margin:22px auto;}
.otherapp .desc h3{font-size:20px;height:48px;overflow:hidden}
.otherapp .desc .bicon-s1{background-position:0 0}
.otherapp .desc .bicon-s2{background-position:0 -115px}
.otherapp .desc .bicon-s3{background-position:0 -230px;}
.otherapp .desc .bicon-s4{background-position:0 -345px;}
.otherapp .desc .bicon-s5{background-position:0 -460px;}
.otherapp .desc .bicon-s6{background-position:0 -575px;}
.otherapp .desc .bicon-s7{background-position:0 -690px;}

.otherapp li .pic img{transition:All 0.4s ease-in-out;-webkit-transition:All 0.4s ease-in-out;-moz-transition:All 0.4s ease-in-out;-o-transition:All 0.4s ease-in-out;}
.otherapp li .pic:hover img{transform:scale(1.05);-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-o-transform:scale(1.05);-ms-transform:scale(1.05);}
.otherapp li .pic:hover span{background:rgba(0,0,0,.6);color:#fff;}

/*列表页*/
.pic_list{}
.pic_list .li{float:left;width:180px;margin:25px 45px 0px 0;}
.pic_list .li .pic{display:block;height:125px;border:1px solid #cecece;padding:2px;}
.pic_list .li .pic img{width:100%;height:100%}
.pic_list .li .pic:hover{border-color:#a5d134}
.pic_list .li .tt{display:block;line-height:30px;height:30px;overflow:hidden;font-size:14px;text-align:center;}
.pic_list .end{margin-right:0;}
.pic_list .li:hover .pic{border-color:#016aaf;background:#016aaf}
.pic_list .li:hover a{color:#016aaf}

.pic_list2{padding-top:0px;}
.pic_list2 .li{float:left;width:202px;margin:0 17px 30px 0}
.pic_list2 .li .pic{display:block;width:200px;height:120px;border:1px solid #ddd;padding:0px;overflow: hidden}
.pic_list2 .li .pic img{width:100%;height:100%}
.pic_list2 .li .tt{display:block;font-weight:normal;font-size:16px;line-height:30px;height:30px;overflow:hidden;text-align:center}
.pic_list2 .end{margin-right:0;}

.pic_list2 .li:hover .pic:hover{border-color:#a5d134}
.pic_list2 .li:hover .tt{color:#016aaf}
/*详情页*/
.pic_detail .title{text-align:center;font-size:18px;padding:20px;}
.pic_detail .pic{text-align:center;padding-bottom:20px;margin-bottom:20px;border-bottom:1px dotted #ddd}
.pic_detail .pic img{border:1px solid #ddd;padding:5px;}

.pic_detail .nr{padding:10px 0}