{% extends 'mobilebase.html' %}
{% load staticfiles %}
{% block head_extends %}
<link rel="stylesheet" href="{% static 'mobile/css/pic_cn.css' %}" media="screen,print"/>
{% endblock %}

{% block top %}
<div class="top wrapper">
    <a class="back" href="javascript:history.back()"><i class="icon-back"></i></a>
    <h2 class="tit">关于我们</h2>
    <a href="" class="lang"></a>
    <img src="http://m.yongjiejh.com/Public/m/images/navBtn.png" class="navBtn">
</div>
{% endblock %}

{% block content%}

<div class="container">
<div id="main">
    <div class="dy-content">
        {{ about.content|safe }}
    </div>
</div>
</div>
{%endblock%}