{% extends 'mobilebase.html' %}
{% load staticfiles %}
{% block head_extends %}
<link rel="stylesheet" href="{% static 'mobile/css/pic_cn.css' %}" media="screen,print"/>
{% endblock %}
{% block content%}

<div class="container">
    <div class="app_detail">
		<div class="pic">
			<img src="/media/{{solution.cover}}" alt="{{solution.title}}"/>
		</div>
		<div class="detail">
			<h1 class="title">{{solution.title}}</h1>
			<div class="intro">{{solution.detail|striptags|truncatechars:120  }}</div>
			<div class="desc">
             {{solution.detail|safe }}
			</div>
			<a href="javascript:;" class="showmore"  data-rel="更多介绍|收起" data-v="0"><i>+</i> 更多介绍</a>
			<h2 class="chathd">工程咨询</h2>
			<div class="chat cf">
				<a href="http://wpa.qq.com/msgrd?v=3&uin=3152958820&site=qq&menu=yes" target="_blank" class="btn btn-blue">QQ在线</a>
				<a href="{%url 'mobile:about' 3%}" target="_blank" class="btn btn-blue">电话：0755-89725806</a>
				<a href="{% url 'mobile:quote'%}" class="btn btn-blue quote">快速<em>获取报价</em></a>
			</div>
		</div>
		<div class="fc"></div>
	</div>
<div class="app_case appbox">
    <h2>工程案例</h2>
    <div class="catelist cf">
        <ul style="overflow-x: auto;">
            <li class="active"><a href="javascript:;" data-id="0">全部</a></li>
            <li class=""><a href="javascript:;" data-id="105" title="三十万级净化工程">三十万级净化工程</a></li>
            <li class=""><a href="javascript:;" data-id="106" title="十万级净化工程">十万级净化工程</a></li>
            <li class=""><a href="javascript:;" data-id="107" title="万级净化工程">万级净化工程</a></li>
            <li class=""><a href="javascript:;" data-id="108" title="千级净化工程">千级净化工程</a></li>
            <li class=""><a href="javascript:;" data-id="109" title="百级净化工程">百级净化工程</a></li>
        </ul>
    </div>
    <ul class="list cf">
        {% for each_case in relate_cases %}
            <li data-cid="{{each_case.type|add:104}}">
                <a href="{% url 'mobile:case_detail' each_case.id%}" title="{{each_case.title}}" class="pic" target="_blank">
                    <img src="/media/{{each_case.cover}}" alt="{{each_case.title}}" title="{{each_case.title}}"/></a>
                <a href="/case/26.html" class="tt" target="_blank">{{each_case.title}}{{each_case.type|add:104}}</a>
            </li>
            {% empty%}
            暂时没有相关案例...
            {%endfor%}
    </ul>
</div>
<div class="otherapp appbox">
    <h2>更多净化工程案例</h2>
    <div class="bd">
        <ul class="cf">
            {% for each_solution in more_solutions %}
                    {% if forloop.counter|divisibleby:2 %}
                    <li class="end">
                        <a href="{% url 'mobile:solution_detail' each_solution.id%}" >
                            <div class="pic"><img src="/media/{{each_solution.cover}}" alt="{{each_solution.title}}"/></div>
                                <div class="desc">
                                    {% if each_solution.title == "食品日化 净化工程" %}
                                        <i class="bicon-s4"></i>
                                    {% elif each_solution.title == "医院手术室 装修工程" %}
                                        <i class="bicon-s3"></i>
                                     {% elif each_solution.title == "制药GMP 净化工程" %}
                                        <i class="bicon-s2"></i>
                                     {% elif each_solution.title == "电子车间 净化工程" %}
                                        <i class="bicon-s1"></i>
                                    {% endif %}
                                    <h3>{{each_solution.title}}1</h3>
                                </div>
                        </a>
                    </li>
                    {% else %}
                        <li class="">
                        <a href="{% url 'mobile:solution_detail' each_solution.id%}" >
                            <div class="pic"><img src="/media/{{each_solution.cover}}" alt="{{each_solution.title}}"/></div>
                                <div class="desc">
                                    {% if each_solution.title == "食品日化 净化工程" %}
                                        <i class="bicon-s4"></i>
                                    {% elif each_solution.title == "医院手术室 装修工程" %}
                                        <i class="bicon-s3"></i>
                                     {% elif each_solution.title == "制药GMP 净化工程" %}
                                        <i class="bicon-s2"></i>
                                     {% elif each_solution.title == "电子车间 净化工程" %}
                                        <i class="bicon-s1"></i>
                                    {% endif %}
                                    <h3>{{each_solution.title}}2</h3>
                                </div>
                        </a>
                    </li>
                    {% endif %}
                {%empty%}
                没有更多解决方案...
                {% endfor%}
        </ul>
    </div>
</div>
</div>
{% endblock %}