@charset "utf-8";
/*产品展示*/
.category{border-bottom:0;}
.catelist{margin:0;}
.subnfax .catelist{position:fixed;left:0;top:44px;background:#fff;}
.subnfax .prod_list{padding-top:54px;}

.prod_list{padding:10px 5px 30px}
.prod_list .list li{float:left;width:50%;padding:5px;box-sizing:border-box;}
.prod_list .list li .pic{display:block;border:1px solid #cecece;overflow:hidden;padding:2px;}
.prod_list .list li .pic img{width:100%;height:100%}
.prod_list .list .end{margin-right:0}
.prod_list .list h3{line-height:30px;height:30px;overflow:hidden;font-size:14px;text-align:center;}
.prod_list .list h3 a{color:#555}
.prod_list .list li:hover .pic{border-color:#016aaf;background:#016aaf}
.prod_list .list li:hover .tt a{color:#016aaf}

/*产品详细*/
.prodlist {}
.prodlist{float:left;width:240px;position:relative;z-index:1}
.prodlist h2{font-size:20px;line-height:22px;margin-bottom:22px;}
.prodlist li{}
.prodlist li a{display:block;height:50px;line-height:50px;text-align:center;padding:0 10px;overflow:hidden;color:#777;font-size:16px;background:#f7f7f7;border-bottom:1px solid #fff;}
.prodlist li a:hover,.prodlist li a.active{background-color:#ddd;}


.prod-main{}
.prod_detail{padding:0px 0 42px;background:#fff;}
.prod_detail .title{text-align:center;font-size:16px;line-height:22px;padding:20px 10px;}
.prod_detail .pic{width:100%;height:200px;position:relative;overflow:hidden;}
.prod_detail .pic .hd{position:absolute;height:28px;line-height:28px;bottom:0;right:20px;z-index:1;}
.prod_detail .pic .hd li{display:inline-block;width:5px;height:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#333;text-indent:-9999px;overflow:hidden;margin:0 6px;}
.prod_detail .pic .hd li.on{background:#ddd;}

.prod_detail .tit{background:#eee;text-align:center;font-size:16px;line-height:40px;color:#777;margin-top:0px;}
.prod_detail .desc{padding:15px}

.pnav{margin:10px;}